
@if(user){
 <div class="flex align-items-center justify-content-center h-auto my-3">
    <div class="flex flex-column align-items-center gap-1 p-5 border-round shadow-2" style="max-width:800px; width:100%;">
      <h2 class="text-center text-color">Welcome back!</h2>
      <!-- big icon -->
      <div class="justify-content-center text-center ">
        <img style="object-fit: cover;" class="bg-cover" [src]="user.image" alt="User Image" width="130" height="130" class="border-circle mb-3">
        <h1 class="m-0 text-3xl text-green-600">{{ user.name }}</h1>
        <h3 class="text-600">{{ user.email }}</h3>
      </div>
    </div>
  </div>

} @else {

  <div class="flex align-items-center justify-content-center h-auto mt-3">
    <div class="flex flex-column align-items-center gap-1 p-5 border-round shadow-2"  style="max-width:520px; width:100%;">
    <p-skeleton styleClass="my-1" />
    <p-skeleton width="20rem" height="6rem"styleClass="mb-2" />
    <p-skeleton width="20rem" height="2rem" styleClass="mb-2" />
     <p-skeleton width="20rem" height="1rem" styleClass="mb-2" />
    <p-skeleton width="15rem" styleClass="mb-2" />
    <p-skeleton height="2rem" styleClass="mb-2" />
  
     
    </div>
  </div>
  
    
}

