<div class="flex page-not-found align-items-center justify-content-center" style="height:100vh;">
  <div class="flex flex-column  align-items-center gap-4 p-5 border-round-2xl shadow-2" style="max-width:520px; width:90%;">
    <i class="pi pi-exclamation-triangle text-red-500" style="font-size:64px;"></i>
    <h1 class="m-0 text-3xl text-red-500">Page not found :(</h1>

    <p class="m-0 text-sm text-center" style="opacity:.8;">
      Oops — we can't find the page you're looking for. It may have been moved or removed.
    </p>


    <p-button routerLink="/" label="Go Back" [rounded]="true" severity="success" />
    <small class="text-xs" style="opacity:.7;">If you typed the URL manually, double-check the spelling.</small>
  </div>
</div>